<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bello@Lab</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="images/temp/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="plugins/lightbox/css/lightbox.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style-theme.css" rel="stylesheet">
    <!-- <link href="css/style-theme.min.css" rel="stylesheet"> -->
    <link href="css/style-colours.css" rel="stylesheet">
    <!-- <link href="css/style-colours.min.css" rel="stylesheet"> -->
    <link href="css/style-mixedcolours.css" rel="stylesheet">
    <!-- <link href="css/style-mixedcolours.min.css" rel="stylesheet"> -->

    <!-- loader -->
    <link href="css/loader.css" rel="stylesheet">
    <script src="plugins/pace/pace.min.js"></script>

    <!-- Custom Theme CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>

</body>
</html>